body {
  padding: 20px
}

.popup {
  width: 180px;
}

.popup .popupTitleBanner {
  margin-bottom: 12px;
}

.popup .popupTitleBanner .logo {
  float: left;
  margin-right: 6px;
}

.popup .popupTitleBanner .title {
  display: inline;
  margin-right: 6px;
}

.popup .popupTitleBanner .settings {
  float: right;
  margin-top: -1px;
}

.options {
  width: 300px
}

span {
  font-size: 24
}

input[type=text] {
  width: 300px
}